<!DOCTYPE html>
<nav class="sidebar-menu">
  <div class="sidebar-logo"></div>
  <button id="closeSidebar" aria-label="Close sidebar">&times;</button>
  <div class="sidebar-style">
    <ul class="menu-animate">
      <li>
        <a href="/index.html"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="/pages/about.html"><i class="fas fa-user"></i> About Me</a>
      </li>
      <li>
        <a href="/pages/projects.html"><i class="fas fa-code"></i> Projects</a>
      </li>
      <li>
        <a href="/pages/contact.html"
          ><i class="fas fa-envelope"></i> Contact</a
        >
      </li>
      <li>
        <a href="/pages/certificate.html"
          ><i class="fas fa-certificate"></i> Certificates</a
        >
      </li>
    </ul>
  </div>
</nav>
